<h1><%= @user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%= @user.private %></dd>

  <dt>Followers</dt>
  <dd>
    UPDATE FOR FOLLOWERS NUMBER

    

      <h4>Pending follow requests</h4>
      <ul>
           <% @user.follow_requests_received.each do |frr| %>
            <li>
               <% s = frr.sender %>
               <%= User.where({:id => s }).at(0).username %>
                       
              <form action="/modify_follow_request/<%= frr.id %>" method="post">
                <input name="query_status" value="accepted" type="hidden">

                <button>
                  Accept
                </button>
              </form>

              <form action="/modify_follow_request/<%= frr.id %>" method="post">
                <input name="query_status" value="rejected" type="hidden">
              
                <button>
                  Reject
                </button>
              </form>
            </li>
          <% end %>
      </ul>
  </dd>

  <dt>Following</dt>
  <dd>UPDATE FOR FOLLOWING NUMBER</dd>

  <dt>Edit user</dt>
  <dd>
    <form action="/modify_user/<%= @user.id%>" method="post">
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="query_username" placeholder="Enter a username..." value="<%= @user.username%>">

      <label for="browser_private">Private?</label>
      <input id="browser_private" type="checkbox" name="query_private">

      <button>Update user</button>
    </form>
  </dd>
</dl>

<nav>
  <ul>
    <li>
      <a href="/users/<%= @user.username%>">Profile</a>
    </li>
    <li>
      <a href="/users/<%= @user.username%>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%= @user.username%>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%= @user.username%>/discover">Discover</a>
    </li>
  </ul>
</nav>

<h2>Own photos (<%= @user.own_photos.count %>)</h2>

<table border="1">
  <tbody><tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>

  <% @user.own_photos.each do |photo| %>
    <tr>
      <td>
      <img src="<%= photo.image %>">
      </td>  
    
      <td>
      <% a = photo.owner_id %>
      <%= User.where({:id => a }).at(0).username %>
      </td>

      <td>
      <%= photo.caption %>
      </td>

      <td>
      <%= photo.created_at %>
      </td>

      <td>
      <%= photo.likes_count %>
      </td>

      <td>
      <a href="/photos/<%= photo.id %>">Show details</a>
      </td>
    </tr>
  <%end%>
</tbody></table>
